<div ng-if="$ctrl.axiom">
    <div class="result">
        <h5>Axiom: {{$ctrl.axiom.name}}</h5>
        <div class="resultBlock">
            <div ng-if="$ctrl.axiom.premises.length">
                Suppose {{premiseText}}.
            </div>
            <div>
                <span ng-if="$ctrl.axiom.premises.length">Then</span>
                {{$ctrl.axiom.conclusion.statement}}.
            </div>
        </div>
        <div class="arbitraryVariables" ng-if="$ctrl.axiom.conclusion.conditions.arbitraryVariables.length">
            Arbitrary variables: {{$ctrl.axiom.conclusion.conditions.arbitraryVariables.join(", ")}}
        </div>
        <div class="distinctVariables" ng-if="$ctrl.axiom.conclusion.conditions.distinctVariables.length">
            Distinct variables:
            <span ng-repeat="requirement in $ctrl.axiom.conclusion.conditions.distinctVariables"
                  class="distinctVariable">({{requirement.termVariable}} in {{requirement.variables.join(", ")}})</span>
        </div>
    </div>
</div>
