<div ng-if="$ctrl.axiom">
    <div class="result"
         ng-init="conditions = $ctrl.axiom.conclusion.conditions">
        <h5>Axiom: {{$ctrl.axiom.name}}</h5>
        <div class="resultBlock">
            <div ng-if="$ctrl.axiom.premises.length">
                Suppose {{premiseText}}.
            </div>
            <div>
                <span ng-if="$ctrl.axiom.premises.length">Then</span>
                {{$ctrl.axiom.conclusion.statement}}.
            </div>
        </div>
        <div class="conditions"
             ng-if="conditions.arbitraryVariables.length || conditions.distinctVariables.length">
            <h6>Conditions</h6>
            <div ng-if="conditions.arbitraryVariables.length">
                {{joinWordList(conditions.arbitraryVariables)}} must be arbitrary.
            </div>
            <div ng-repeat="requirement in conditions.distinctVariables" class="distinctVariable">
                {{requirement.termVariable}} must not appear in {{joinWordList(requirement.variables, 'or')}}.
            </div>
        </div>
    </div>
</div>
