<div ng-if="$ctrl.axiom">
    <div class="result"
         ng-init="conditions = $ctrl.axiom.conclusion.conditions">
        <h5>Axiom: {{$ctrl.axiom.name}}</h5>
        <div class="resultBlock">
            <div ng-if="$ctrl.axiom.premises.length">
                Suppose {{premiseText}}.
            </div>
            <div>
                <span ng-if="$ctrl.axiom.premises.length">Then</span>
                {{$ctrl.axiom.conclusion.statement}}.
            </div>
        </div>
        <div class="conditions"
             ng-if="conditions.arbitraryVariables.length || conditions.distinctVariables.length">
            <h6>Conditions</h6>
            <arbitrary-variables arbitrary-variables="conditions.arbitraryVariables"></arbitrary-variables>
            <distinct-variables distinct-variables="conditions.distinctVariables"></distinct-variables>
        </div>
    </div>
</div>
