<div ng-if="$ctrl.inference">
    <div class="result">
        <h5>
            <a href="#/{{$ctrl.inference.bookKey}}/{{$ctrl.inference.chapterKey}}/{{$ctrl.inference.key}}" class="inference-entry-title">
                {{$ctrl.inference.type == "axiom" ? "Axiom" : "Theorem"}}: {{$ctrl.inference.name}}
            </a>
        </h5>
        <div class="resultBlock">
            <div ng-if="$ctrl.inference.premises.length">
                Suppose <span ng-bind-html="premiseText"></span>.
            </div>
            <div>
                <span ng-if="$ctrl.inference.premises.length">Then</span>
                <span ng-bind-html="conclusion"></span>.
            </div>
        </div>
    </div>
</div>
