<div class="chapter" ng-show="chapter">
    <h3>{{chapter.title}}</h3>
    <p class="comment">{{chapter.summary}}</p>

    <div ng-repeat="entry in chapter.entries" ng-switch="entry.type" class="chapterEntry {{entry.type}}">
        <div ng-switch-when="comment">
            <p>{{entry.text}}</p>
        </div>
        <div ng-switch-when="statement">
            <chapter-definition definition="entry"></chapter-definition>
        </div>
        <div ng-switch-when="term">
            <chapter-definition definition="entry"></chapter-definition>
        </div>
        <div ng-switch-when="axiom">
            <chapter-inference inference="entry"></chapter-inference>
        </div>
        <div ng-switch-when="theorem">
            <chapter-inference inference="entry"></chapter-inference>
        </div>
    </div>
</div>
