<div class="chapter" ng-show="chapter">
    <h4>{{chapter.title}}</h4>
    <p class="comment">{{chapter.summary}}</p>

    <div ng-repeat="entry in chapter.entries" ng-switch="entry.type" class="chapterEntry {{entry.type}}">
        <div ng-switch-when="comment">
            <p>{{entry.text}}</p>
        </div>
        <div ng-switch-when="connective">
            <div class="result">
                Connective: {{entry.defaultStatement}}
                <span ng-if="entry.definingStatement">
                    <span class="normal">is defined to mean</span>
                    {{ entry.definingStatement }}
                </span>
            </div>
        </div>
        <div ng-switch-when="quantifier">
            <div class="result">
                Quantifier: {{entry.defaultStatement}}
                <span ng-if="entry.definingStatement">
                    <span class="normal">is defined to mean</span>
                    {{ entry.definingStatement }}
                </span>
            </div>
        </div>
        <div ng-switch-when="predicate">
            <div class="result">
                Predicate: {{entry.defaultStatement}}
                <span ng-if="entry.definingStatement">
                    <span class="normal">is defined to mean</span>
                    {{ entry.definingStatement }}
                </span>
            </div>
        </div>
        <div ng-switch-when="constant">
            <div class="result">
                Constant: {{entry.symbol}}
                <span class="normal">is defined by</span>
                {{ entry.definition }}
            </div>
        </div>
        <div ng-switch-when="rule">
            <div class="result ruleWrapper">
                <div>Rule:</div>
                <div>
                    <div class="rulePremises">
                        Given
                        {{entry.hypothesisTemplate ? entry.hypothesisTemplate + ' ⊢' : ''}}
                        {{entry.premiseTemplates.join(", ")}}
                        <arbitrary-variables variables="entry.arbitraryVariables"></arbitrary-variables>
                    </div>
                    <div class="ruleConclusion">
                        Deduce
                        {{entry.conclusionTemplate}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="axiom">
            <div class="result">
                Axiom: {{entry.title}}
                <br>
                {{entry.statement}}
            </div>
        </div>
        <div ng-switch-when="theorem">
            <div class="result">
                <div class="theoremTitle"
                     data-toggle="collapse"
                     data-target="#{{entry.id}}-proof, #{{entry.id}}-summary">Theorem: {{entry.title}}</div>
                <div id="{{entry.id}}-summary" class="theoremSummary collapse in">
                    <div ng-if="entry.hypotheses.length">
                        Suppose
                        <span ng-if="entry.hypotheses.length > 1">
                            {{entry.hypotheses.slice(0, entry.hypotheses.length - 1).join(", ")}}
                            and
                        </span>
                        {{entry.hypotheses[entry.hypotheses.length - 1]}}.
                        <arbitrary-variables variables="entry.arbitraryVariables"></arbitrary-variables>
                    </div>
                    <div>
                        <span ng-if="entry.hypotheses.length">Then</span>
                        {{entry.result}}.
                    </div>
                </div>
                <div id="{{entry.id}}-proof" class="theoremProof collapse">
                    <div ng-if="entry.hypotheses.length">
                        <label>Hypotheses</label>
                        <div ng-repeat="hypothesis in entry.hypotheses" class="theoremHypothesis">{{hypothesis}}</div>
                        <label>Proof</label>
                    </div>
                    <step step="step" ng-repeat="step in entry.steps"></step>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bookEntry" ng-repeat="theorem in book.theorems" ng-click="setChosenTheorem(theorem)">
                <h4 class="title">Theorem {{$index + 1}} - {{theorem.title}}</h4>
                <div class="theoremSummary">
                    <div ng-repeat="hypothesis in theorem.hypotheses" class="hypothesis">
                        Suppose {{hypothesis}}.
                    </div>
                    <div class="result">
                        <span ng-if="theorem.hypotheses.length">Then</span>
                        {{theorem.result}}.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 theoremPanelColumn">
            <div ng-show="chosenTheorem" class="jumbotron theoremPanel">
                <theorem theorem="chosenTheorem"></theorem>
            </div>
        </div>
    </div>
</div>
