<div ng-if="$ctrl.inference">
    <div class="result"
         ng-init="conditions = $ctrl.inference.conclusion.conditions">
        <h5>
            <a href="#/{{$ctrl.inference.bookKey}}/{{$ctrl.inference.chapterKey}}/{{$ctrl.inference.key}}" class="inference-title">
                {{$ctrl.inference.type == "axiom" ? "Axiom" : "Theorem"}}: {{$ctrl.inference.name}}
            </a>
        </h5>
        <div class="resultBlock">
            <div ng-if="$ctrl.inference.premises.length">
                Suppose {{premiseText}}.
            </div>
            <div>
                <span ng-if="$ctrl.inference.premises.length">Then</span>
                {{$ctrl.inference.conclusion.statement}}.
            </div>
        </div>
        <div class="conditions"
             ng-if="conditions.arbitraryVariables.length || conditions.distinctVariables.length">
            <h6>Conditions</h6>
            <arbitrary-variables arbitrary-variables="conditions.arbitraryVariables"></arbitrary-variables>
            <distinct-variables distinct-variables="conditions.distinctVariables"></distinct-variables>
        </div>
    </div>
</div>
