<div class="chapter" ng-show="chapter">
    <h3>{{chapter.title}}</h3>
    <p class="comment">{{chapter.summary}}</p>

    <div ng-repeat="entry in chapter.entries" ng-switch="entry.type" class="chapterEntry {{entry.type}}">
        <div ng-switch-when="comment">
            <p>{{entry.text}}</p>
        </div>
        <div ng-switch-when="connective">
            <div class="result">
                Connective: {{entry.defaultStatement}}
                <span ng-if="entry.definingStatement">
                    <span class="normal">is defined to mean</span>
                    {{ entry.definingStatement }}
                </span>
            </div>
        </div>
        <div ng-switch-when="quantifier">
            <div class="result">
                Quantifier: {{entry.defaultStatement}}
                <span ng-if="entry.definingStatement">
                    <span class="normal">is defined to mean</span>
                    {{ entry.definingStatement }}
                </span>
            </div>
        </div>
        <div ng-switch-when="predicate">
            <div class="result">
                Predicate: {{entry.defaultStatement}}
                <span ng-if="entry.definingStatement">
                    <span class="normal">is defined to mean</span>
                    {{ entry.definingStatement }}
                </span>
            </div>
        </div>
        <div ng-switch-when="term">
            <div class="result">
                Term Definition: {{entry.defaultTerm}}
                <span class="normal">is defined by</span>
                {{ entry.definition }}
            </div>
        </div>
        <div ng-switch-when="rule">
            <div class="result ruleWrapper">
                <table>
                    <tr>
                        <td>Rule:</td>
                        <td>
                            <div class="ruleStatement">
                                <span class="rulePremises">
                                    Given
                                    {{entry.assumptionTemplate ? entry.assumptionTemplate + ' ⊢' : ''}}
                                    {{entry.premiseTemplates.join(", ")}}
                                </span>
                                <span class="ruleDivide"></span>
                                <span class="ruleConclusion">
                                    Deduce
                                    {{entry.conclusionTemplate}}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="entry.arbitraryVariables.length">
                        <td></td>
                        <td class="arbitraryVariables">
                            Arbitrary variables: {{entry.arbitraryVariables.join(", ")}}
                        </td>
                    </tr>
                    <tr ng-if="entry.distinctVariableRequirements.length">
                        <td></td>
                        <td class="distinctVariables">
                            Distinct variables:
                            <span ng-repeat="requirement in entry.distinctVariableRequirements">
                                {{requirement.termVariable}} must not appear in {{requirement.variables.join(", ")}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-switch-when="axiom">
            <div class="result">
                Axiom: {{entry.title}}
                <br>
                {{entry.statement}}
            </div>
        </div>
        <div ng-switch-when="theorem">
            <div class="result">
                <span class="theoremId">{{entry.id}}</span>
                <div class="theoremTitle"
                     data-toggle="collapse"
                     data-target="#{{entry.id}}-proof, #{{entry.id}}-summary">
                    Theorem: {{entry.title}}
                </div>
                <div id="{{entry.id}}-summary" class="theoremSummary collapse in">
                    <div ng-if="entry.premiseTemplates.length">
                        Suppose
                        <span ng-if="entry.premiseTemplates.length > 1">
                            {{entry.premiseTemplates.slice(0, entry.premiseTemplates.length - 1).join(", ")}}
                            and
                        </span>
                        {{entry.premiseTemplates[entry.premiseTemplates.length - 1]}}.
                        <arbitrary-variables variables="entry.arbitraryVariables"></arbitrary-variables>
                    </div>
                    <div>
                        <span ng-if="entry.premiseTemplates.length">Then</span>
                        {{entry.conclusionTemplate}}.
                    </div>
                    <div class="arbitraryVariables" ng-if="entry.arbitraryVariables.length">
                        Arbitrary variables: {{entry.arbitraryVariables.join(", ")}}
                    </div>
                    <div class="distinctVariables" ng-if="entry.distinctVariableRequirements.length">
                        Distinct variables:
                        <span ng-repeat="requirement in entry.distinctVariableRequirements">
                            {{requirement.termVariable}} must not appear in {{requirement.variables.join(", ")}}
                        </span>
                    </div>
                </div>
                <div id="{{entry.id}}-proof" class="theoremProof collapse">
                    <div ng-if="entry.premiseTemplates.length">
                        <label>Premises</label>
                        <div ng-repeat="premiseTemplate in entry.premiseTemplates" class="premise">{{premiseTemplate}}</div>
                        <label>Proof</label>
                    </div>
                    <step step="step" ng-repeat="step in entry.steps"></step>
                </div>
            </div>
        </div>
    </div>
</div>
