<div class="inference" ng-if="inference">
    <div class="inference-links">
        <a class="inferenceLink pull-left" ng-if="previous" href="{{previous.link}}">&laquo; {{previous.name}}</a>
        <a class="inferenceLink pull-right" ng-if="next" href="{{next.link}}">{{next.name}} &raquo;</a>
    </div>
    <div class="inference-title">
        <h3>
            {{inference.type == "axiom" ? "Axiom" : "Theorem"}}: {{inference.name}}
        </h3>
    </div>
    <p>
        <div ng-if="premises.length">
            Suppose
            <span ng-if="premises.length > 2" ng-repeat="premise in premises.slice(0, premises.length - 2)">
                <span class="premise" ng-bind-html="premise"></span>,
            </span>
            <span ng-if="premises.length > 1" ng-init="premise = premises[premises.length-2]">
                <span class="premise" ng-bind-html="premise"></span> and
            </span>
            <span ng-if="premises.length > 0" ng-init="premise = premises[premises.length-1]">
                <span class="premise" ng-bind-html="premise"></span>.
            </span>
        </div>
        <div>
            <span ng-if="inference.premises.length">Then</span> <span ng-bind-html="conclusion"></span>.
        </div>
    </p>
    <div class="theoremProof" ng-if="inference.proof">
        <hr/>
        <h4>Proof</h4>
        <table class="table-condensed proofRows">
            <tr ng-repeat="row in proofRows"
                class="proofRow"
                ng-mouseenter="highlightRow(row, $event)"
                ng-mouseleave="removeHighlight(row, $event)"
            >
                <td class="proofRowStatement">
                    <span ng-repeat="_ in _.range(row.visibleIndentLevel)" class="proofIndent"></span>
                    <span ng-bind-html="row.prefix"></span>
                    <span ng-if="row.assumption" class="assumption" ng-bind-html="row.assumption"></span><span ng-if="row.assumption && row.assertion"> ⊢ </span><span ng-if="row.assertion" class="assertion" ng-bind-html="row.assertion"></span>.
                </td>
                <td>
                    <a ng-if="row.inference.link && row.inference.name" class="stepInferenceId" href="{{row.inference.link}}">{{row.inference.name}}</a>
                    <span ng-if="!row.inference.link && row.inference.name" class="stepInferenceId">{{row.inference.name}}</span>
                </td>
            </tr>
        </table>
    </div>
    <hr/>
    <div ng-if="bookUsages.length">
        <h4>Usages</h4>
        <div ng-repeat="bookUsage in bookUsages">
            <div ng-repeat="chapterUsage in bookUsage.chapterUsages">
                <div><label>{{bookUsage.bookTitle}} - {{chapterUsage.chapterTitle}}</label></div>
                <p>
                    <span class="usage" ng-repeat="inferenceSummary in chapterUsage.inferenceSummaries">
                    <a class="usage-link"
                       href="#/{{inferenceSummary.bookKey}}/{{inferenceSummary.chapterKey}}/{{inferenceSummary.key}}"
                    >{{inferenceSummary.name}}</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
