<div ng-if="$ctrl.theorem">
    <div class="result">
        <h5 class="theoremTitle"
            data-toggle="collapse"
            data-target="#{{$ctrl.theorem.id}}-proof, #{{$ctrl.theorem.id}}-summary">
            Theorem: {{$ctrl.theorem.name}}
        </h5>
        <div id="{{$ctrl.theorem.id}}-summary" class="theoremSummary collapse in">
            <div class="resultBlock">
                <div ng-if="$ctrl.theorem.premises.length">
                    Suppose {{premiseText}}.
                </div>
                <div>
                    <span ng-if="$ctrl.theorem.premises.length">Then</span>
                    {{$ctrl.theorem.conclusion.statement}}.
                </div>
            </div>
            <div class="arbitraryVariables" ng-if="$ctrl.theorem.conclusion.arbitraryVariables.length">
                Arbitrary variables: {{$ctrl.theorem.conclusion.arbitraryVariables.join(", ")}}
            </div>
            <div class="distinctVariables" ng-if="$ctrl.theorem.conclusion.distinctVariables.length">
                Distinct variables:
                <span ng-repeat="requirement in $ctrl.theorem.conclusion.distinctVariables"
                      class="distinctVariable">({{requirement.termVariable}} may not appear in {{requirement.variables.join(", ")}})</span>
            </div>
        </div>
        <div id="{{$ctrl.theorem.id}}-proof" class="theoremProof collapse">
            <div ng-if="$ctrl.theorem.premises.length">
                <h5>Premises</h5>
                <div ng-repeat="premise in premises" class="premise">{{premise}}</div>
            </div>
            <h5>Proof</h5>
            <table class="proofRows">
                <tr ng-repeat="row in proofRows" class="proofRow">
                    <td>
                        <span ng-repeat="i in _.range(row.indentLevel)" class="proofIndent"></span>
                        <span>{{row.prefix}} {{row.statement}}.</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
