.navbar {
    margin-bottom: 0;
}

.breadcrumbWrapper {
    background-color: #f5f5f5;
}

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
}

.main {
    margin-bottom: 20px;
}

.book .chapter:first-of-type {
    margin-top: 20px;
}

.chapterEntry {
    clear: left;
}

.result {
    margin: 10px;
    width: calc(100% - 20px);
    padding: 5px 10px ;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
}

h5 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.result > h5:first-of-type {
    margin-top: 2px;
}

h5:not(:last-child) {
    margin-bottom: 3px;
}

.entryTitle {
    display: flex;
}
.entryTitle > h5 {
    flex: auto;
}

.inferenceEntryTitle {
    text-decoration: none;
    color: inherit;
}

.inferenceEntryTitle:hover {
    text-decoration: underline;
    color: inherit;
}

.navigationLinks {
    margin-top: 10px;
}

.navigationLinks:after {
    content: '';
    display: block;
    clear: both;
}

.comment + .comment {
    margin-top: 15px;
}

.proof {
    margin-top: 5px;
}

.proofLine {
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
}

.proofIndent {
    margin-left: 20px;
}

table {
    font-size: inherit;
}

.stepInferenceId, .usageLink, .navigationLink, .inferenceId {
    font-family: monospace;
    color: gray;
    font-size: 0.85em;
}

.inferenceId {
    text-align: center;
    margin-top: -10px;
}

.stepInferenceId {
    padding-left: 25px;
}

.highlightPremise {
    color: red;
}

.highlightConclusion {
    color: blue;
}

.highlightIncomplete {
    position: relative;
}
.highlightIncomplete::before {
    content: "?";
    color: red;
    font-weight: bold;
    position: absolute;
    left: -10px;
}

.usage:not(:last-child)::after {
    content: '|'
}

.inference h3 {
    text-align: center;
}

.theoremProof .popover {
    max-width: 100%;
}

/* TYPEAHEAD */

.tt-menu {
    width: 422px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 10px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.assertionPremise {
    margin: 5px 0;
}

.assertionPremise .btn {
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}
.editablePremise .boundVariable:hover {
    color: red;
    cursor: pointer;
}
