.navbar {
    margin-bottom: 0;
}

.breadcrumbWrapper {
    background-color: #f5f5f5;
}

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
}

.main {
    margin-bottom: 20px;
}

.book .chapter:first-of-type {
    margin-top: 20px;
}

.chapterEntry {
    clear: left;
}

.result {
    margin: 10px;
    width: calc(100% - 20px);
    padding: 5px 10px ;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
}

.result h5 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.result h6 {
    font-size: inherit;
    text-decoration: underline;
    margin-bottom: 0px;
}

.result > h5:first-of-type {
    margin-top: 2px;
}

.result h5:not(:last-child) {
    margin-bottom: 3px;
}

.inferenceId {
    font-size: small;
    font-family: monospace;
    float: right;
    border-left: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-top: -5px;
    margin-right: -10px;
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
}

.theoremTitle {
    cursor: pointer;
}

.theoremTitle:hover {
    text-decoration: underline;
}

.proofRows {
    margin-top: 5px;
}

.theoremProof > step:last-of-type > .step > .stepConclusion span:after {
    content: " □"
}

.comment + .comment {
    margin-top: 15px;
}

.premiseRow, .proofRow td {
    padding-left: 5px;
    padding-bottom: 5px;
}

.proofIndent {
    margin-left: 10px;
}

table {
    font-size: inherit;
}

.reference, .stepInferenceId {
    font-family: monospace;
    color: gray;
    font-size: 0.85em;
}

.referenceCell {
    text-align: right;
}

.reference {
    margin-right: 10px;
}

.stepInferenceId {
    padding-left: 25px;
}

.proofRow.hasAssertion {
    cursor: hand;
}

.highlightPremise {
    color: red;
}

.highlightConclusion {
    color: blue;
}
