.main {
    margin-bottom: 20px;
}

.bookEntry {
    border: 1px solid transparent;
    padding-bottom: 5px;
}

.bookEntry a {
    color: inherit;
}

.bookEntry a:hover {
    color: inherit;
}

.theoremSummary {
    margin-left: 10px;
}

.theoremPanel {
    padding: 20px 50px;
}

.proofSection {
    margin-bottom: 10px;
}

.hypothesis, .fantasyHypothesis, .stepResult, .result {
    margin-bottom: 5px;
}

.fantasyBody {
    margin-left: 10px;
}

.statement {
    padding: 3px;
}
